@import '_variables';

html {
  font-size: 62.5%; /* =10px */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Establece el tamaño base en 10px lo que facilita la conversión */

body {
  font-size: 1.8rem; /* =16px */
  background-color: $white;
  font-family: $font;
}

// .bg {
//   background-image: url('../../public/image/mobile-design.jpg');
//   background-repeat: no-repeat;
// }
// .bg {
//   background-image: url('../../public/image/desktop-design.jpg');
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center;
// }

@media (min-width: 800px) {
  .card {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }  
}

@media (min-width: 800px) {
  .card_container {
    display: flex;
    box-shadow: $light-lavender 12px 12px 30px;
    border-radius: 3rem;
    width: 73.5rem;
    height: 51rem;
  }
}


// .card_container {
//   margin: 0;
//   display: flex;
//   justify-content: space-between;
// }
// .card {
//   box-shadow: ;
// }
